<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add new section :</title>
    <style>
        a{
            position: absolute; left: 1%; top: 5px;
            font-size: 20px;
        }
        h1{
            margin-top: 50px;
            margin-left: 20px;
        }
    </style>
</head>
<body>

<h1>Add new section :</h1>

<form method="post" action="/saveSection">
    <label>
        Description :
        <input name="description">
    </label>
    <label>
        Shift :
        <input name="shift">
    </label>

    <button type="submit" >save</button>
</form>
<a href="/section">Back</a>
</body>
</html>