<!DOCTYPE html >
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit employee</title>
    <style>
        a{
            position: absolute; left: 1%; top: 5px;
            font-size: 20px;
        }
        h1{
            margin-top: 50px;
            margin-left: 20px;
        }
        .error{
            margin-top: 50px;
            text-align: center;
            font-size: 30px;
        }
    </style>
</head>
<body>

<h1>Edit employee :</h1>

<form action="#" method="post" th:action="@{/saveEditEmployee}" th:object="${employee}" >
    <label>
        First name:
        <input type="text" th:field="*{firstName}">
    </label>
    <label>
        Last name:
        <input type="text" th:field="*{lastName}">
    </label>
    <label>
        login code:
        <input type="text" th:field="*{loginCode}">
    </label>
    <select th:field="*{section.id}">
        <option th:each="listSection : ${listSection}" th:value="${listSection.id}" th:text="'Section: ' + ${listSection.description} + ' shift: ' + ${listSection.shift}"></option>
    </select>

    <button type="submit" th:name="id" th:value="${employee.id}">save</button>
</form>
<a href="/employee">Back</a>
<div class="error" th:if="${value}">Incorect data</div>
</body>
</html>