<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h1>Employee : </h1>

<form method="post" action="/search">
<select name="id">
    <option value="0">select section</option>
    <option th:each="sectionList : ${sectionList}" th:value="${sectionList.id}" th:text="${sectionList.description}"></option>
</select>

<button type="submit">search</button>
</form>

</div>
<table>
    <thead>
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Surname</td>
        <td>LoginCode</td>
        <td>Section</td>
        <td>Shift</td>
        <td>status</td>
        <td>edit</td>
        <td>change status</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee, status: ${employee}" th:object="${employee}">
        <td th:text="${status.count}">1</td>
        <td th:text="*{firstName}">Name</td>
        <td th:text="*{lastName}">Surname</td>
        <td th:text="*{loginCode}">LoginCode</td>
        <td th:text="*{section.description}">Section</td>
        <td th:text="*{section.shift}">Shift</td>
        <td th:text="*{status}">Status</td>
        <form method="post" action="/edit">
            <td><button type="submit" th:name="id" th:value="${employee.id}">edit</button></td>
        </form>
        <form method="post" action="/change">
        <td><button type="submit" th:name="id" th:value="${employee.id}">change</button></td>
        </form>
    </tbody>
    </tr>
</table>
<form method="get" action="/add">
<button type="submit">add new employee</button>
        </form>
</body>
</html>