<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee in work</title>
    <style>
        table, td {
            border: 1px solid black;
            margin:0 auto;
        }
        h1, form{
            text-align: center;
        }
        a{
            position: absolute; left: 1%; top: 5px;
            font-size: 20px;
        }
        .add{
            text-align: center;
            margin-top: 5px;
        }

    </style>

</head>
<body>
<h1>events</h1>

<form method="post" action="/filterEvents">
    Filter :
    from date: <input type="date" th:name="fromDate" th:value="${fromDate}">
    to date: <input type="date" th:name="toDate" th:value="${toDate}">
    Employee: <select name="employeeID">

    <option value="0">select employee</option>
    <option th:each="employees : ${employees}" th:value="${employees.id}" th:text="${employees.firstName} + ' ' + ${employees.lastName}"></option>
</select>
    <button type="submit">filter</button>
</form>
<table>
    <thead>
    <tr>
        <td>No</td>
        <td>Name</td>
        <td>Surname</td>
        <td>Section</td>
        <td>Shift</td>
        <td>Date start</td>
        <td>Time start</td>
        <td>Date stop</td>
        <td>Time stop</td>
        <td>Time in work</td>
    </tr>
    </thead>
    <tbody>
<tr th:each="event, status: ${event}" th:object="${event}">
    <td th:text="${status.count}">1</td>
    <td th:text="*{employee.firstName}">Name</td>
    <td th:text="*{employee.lastName}">Surname</td>
    <td th:text="*{employee.section.description}">Section</td>
    <td th:text="*{employee.section.shift}">Section</td>
    <td th:text="*{dateStartWithoutTime}">Start working date</td>
    <td th:text="*{timeStartWithoutDate}">Start working time</td>
    <td th:text="*{dateStopWithoutTime}">Stop working date</td>
    <td th:text="*{timeStopWithoutDate}">Stop working time</td>
    <td th:text="*{timeInWork.hours +':'+ timeInWork.minutes}">Time in work</td>

    <td><form method="post", action="/editEvent"><button type="submit" th:name="id" th:value="${event.id}">edit</button></form></td>
    <td><form method="post", action="/deleteEvent"><button type="submit" th:name="id" th:value="${event.id}">delete</button></form></td>

    </tbody>
</table>

</tr>
<form class="add" method="get" action="/addEvent">
<button type="submit">add new Event</button>
</form>
<a href="/menu">Back</a>
</body>
</html>