<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:class="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Company Name</title>
    <style>
        h1 {
            text-align: center;
            margin-bottom: 50px;
        }
        form {
            text-align: center;
            margin-bottom: 50px;
        }
        .information{
            font-size: 30px;
            text-align: center;
        }
        .menu{
            position: absolute; right: 5%; top: 5px;
            font-size: 30px;
        }
    </style>
</head>
<body>
<h1>Company Name</h1>
<form method="post" action="/sendLoginLogout">
    <label>
login code:
        <input name="logincode" placeholder="">
    </label>
</form>

<p class="information" th:if="${info}" th:text="${info}" ></p>
<a class="menu" href="/menu" >Menu</a>
</body>
</html>