<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Zaloguj się</title>
    <style>
        h1{
            text-align: center;
        }
        form{
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-top: 32px;
        }
        input,button{
                margin: 4px 0;
        }
        p{
            text-align: center;
        }
    </style>
</head>
<body>
<div class="container">
    <h1>Log in</h1>
    <form action="/login" method="post">
        <input name="username" placeholder="Username">
        <input name="password" placeholder="password" type="password">
        <button type="submit" class="form-item">Log in</button>
    </form>
    <p>username : user, password : pass</p>
</div>
</body>
</html>
