<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <style>
        a{
            position: absolute; left: 1%; top: 5px;
            font-size: 20px;
        }
        table, td {
            border: 1px solid black;
            margin:0 auto;
        }
        h1, form{
            text-align: center;
        }
        .button{
            margin-top: 5px;
        }
    </style>
</head>
<body>
<h1>Manager : </h1>

<table>
    <thead>
    <tr>
        <td>No</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Login</td>
        <td>Edit</td>
        <td>Delete</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="manager, status: ${manager}" th:object="${manager}">
        <td th:text="${status.count}">1</td>
        <td th:text="*{firstName}">First name</td>
        <td th:text="*{lastName}">Last name</td>
        <td th:text="*{login}">login</td>


        <form method="get" action="/editManager">
            <td><button type="submit" th:name="id" th:value="${manager.id}">edit</button></td>
        </form>
        <form method="get" action="/deleteManager">
            <td><button type="submit" th:name="id" th:value="${manager.id}">delete account</button></td>
        </form>
    </tbody>
    </tr>
</table>
<form class="button" method="get" action="/addManager">
    <button type="submit">add new manager</button>
</form>
<a href="/menu">Back</a>
</body>
</html>