<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>menu</title>
    <style>
        .link{
            text-align: center;
            font-size: 30px;
            margin-top: 20px;
            display: flex;
            flex-direction: column;
        }
        .login{
            position: absolute; right: 5%; top: 5px;
            font-size: 30px;
        }
    </style>
</head>
<body>

<a class="link" href="/active" >Active employee</a>
<a class="link" href="/events" >Events</a>
<a class="link" href="/employee" >Employees</a>
<a class="link" href="/manager" >Managers</a>
<a class="link" href="/section" >Sections</a>
<a class="login" href="/logout" >Logout</a>
</body>
</html>