<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Section</title>
    <style>
        a{
            position: absolute; left: 1%; top: 5px;
            font-size: 20px;
        }
        .all{
            text-align: center;
        }
        table, td{
            margin: 0 auto;
            border: 1px solid black;
        }
        form{
            margin-top: 5px;
        }
        .information{
            text-align: center;
            margin-top: 5px;
        }
    </style>
</head>
<body>
<div class="all">
<h1>Section : </h1>

<table>
    <thead>
    <tr>
        <td>No</td>
        <td>First Name</td>
        <td>Last Name</td>
        <td>Edit</td>
        <td>Delete</td>

    </tr>
    </thead>
    <tbody>
    <tr th:each="sections, status: ${sections}" th:object="${sections}">
        <td th:text="${status.count}">1</td>
        <td th:text="*{description}"></td>
        <td th:text="*{shift}"></td>



        <form method="get" action="/editSection">
            <td><button type="submit" th:name="id" th:value="${sections.id}">edit</button></td>
        </form>
        <form method="get" action="/deleteSection">
            <td><button type="submit" th:name="id" th:value="${sections.id}">delete</button></td>
        </form>
    </tbody>
    </tr>
</table>
<form method="get" action="/addSection">
    <button type="submit">add new section</button>
</form>
</div>
<p class="information" th:if="value" >Section has employee !</p>
<a href="/menu">Back</a>
</body>
</html>